button.default:not(:disabled) {
  color: mix(@fg_color, mix(@shift_bg_color, @fg_color, 0.398), 00.20);
  outline-color: #999999;
  border-color: mix(#b6b6b3, @shift_bg_color, 00.20);
  border-bottom-color: mix(#aaaaaa, @shift_bg_color, 00.20);
  background-image: linear-gradient(to bottom, mix(mix(#ffffff, @shift_bg_color, 00.20), mix(@canvas_bg_color, #ffffff, 0.4), 0.95), mix(mix(@bg_color, @shift_bg_color, 00.20), mix(@canvas_bg_color, #ffffff, 0.4), 0.65) 50%, mix(mix(#c0c0c0, @shift_bg_color, 00.20), mix(@canvas_bg_color, #ffffff, 0.4), 0.45));
  text-shadow: none;
  -gtk-icon-shadow: none;
  box-shadow: inset 0 1px mix(rgba(255, 255, 255, 0.3), @shift_bg_color, 00.20); }
  button.default:not(:disabled):hover {
    background-image: linear-gradient(to bottom, mix(mix(#ffffff, @shift_bg_color, 00.20), mix(@canvas_bg_color, #ffffff, 0.4), 0.95), mix(mix(@bg_color, @shift_bg_color, 00.20), mix(@canvas_bg_color, #ffffff, 0.4), 0.75) 50%, mix(mix(#c0c0c0, @shift_bg_color, 00.20), mix(@canvas_bg_color, #ffffff, 0.4), 0.55)); }
  button.default:not(:disabled):active,
  button.default:not(:disabled):checked {
    color: mix(@fg_color, mix(@shift_bg_color, @fg_color, 0.398), 00.20);
    border-color: mix(#b0b0b0, @shift_bg_color, 00.20);
    background-image: linear-gradient(to top, mix(mix(#ffffff, @shift_bg_color, 00.20), @canvas_bg_color, 0.50), mix(mix(@bg_color, @shift_bg_color, 00.20), @canvas_bg_color, 0.40) 50%, mix(mix(#c0c0c0, @shift_bg_color, 00.20), mix(@canvas_bg_color, #ffffff, 0.4), 0.30));
    box-shadow: inset 0 1px mix(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0), 00.20); }
